<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Al3xis</title>
        
        <!-- The stylesheet -->
        <link rel="stylesheet" href="/css/style.css" />
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>

        <header>
            <h1> TIC-TAC-TOE </h1>
            <ul id="menu">
              <li><a href="/">Boards</a></li>
              <li><a href="/account">Account</a></li>
              <% if @user_id %> 
                <li><a href="/v1/users/logout">Logout</a></li>
              <% else %>
                <li><a href="/">Login</a></li>
              <% end %>
            </ul>
        </header>

        <div id="main">
            
            <h1>Change Password</h1>
            
            <form class="register" method="post" action="/v1/users/change/password">

                <% flash.each do |key, value| %>
                    <div class="alert-<%= key %>"><%= value %></div>
                <% end %>
                
                <input type="password" id="old_password" name="old_password" placeholder="Old Password" />
                
                <div class="row pass">
                    <input type="password" id="password1" name="password1" placeholder="New Password" />
                </div>
                
                <div class="row pass">
                    <input type="password" id="password2" name="password2" placeholder="New Password (repeat)" disabled="true" />
                </div>
                
                <!-- The rotating arrow -->
                <div class="arrowCap"></div>
                <div class="arrow"></div>
                
                <p class="meterText">Password Meter</p>
                
                <input class="rsub" type="submit" value="Change Password" />
                
            </form>
        </div>
        
        <!-- JavaScript includes - jQuery, the complexify plugin and our own script.js -->
        <script src="/js/jquery-1.7.2.js"></script>
        <script src="/js/register.js"></script>

             
    </body>
</html>
