<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Al3xis</title>
        
        <!-- The stylesheet -->
        <link rel="stylesheet" href="/css/style.css" />
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
    
        <header>
            <h1> TIC-TAC-TOE </h1>
            <ul id="menu">
              <li><a href="/">Boards</a></li>
              <li><a href="/account">Account</a></li>
              <% if @user_id %> 
                <li><a href="/">Logout</a></li>
              <% else %>
                <li><a href="/">Login</a></li>
              <% end %>
            </ul>
        </header>

        <div id="main">

            <h1>Tic Tac Toe!</h1>
            
            <form class="login" method="post" action="/v1/users/login">

                <% flash.each do |key, value| %>
                    <div class="alert-<%= key %>"><%= value %></div>
                <% end %>
                
                <div class="row email">
                    <input type="text" id="email" name="email" placeholder="Email" />
                </div>
                
                <div class="row pass">
                    <input type="password" id="password1" name="password" placeholder="Password" />
                </div>
                
                <input class= "lsub" type="submit" value="Let me play" />
                <button class = "lsub" onclick="location.href='/register'" > Don't have an account? </button>
                
            </form>
        </div>
        
        <!-- JavaScript includes - jQuery, the complexify plugin and our own script.js -->
        <script src="/js/jquery-1.7.2.js"></script>
        <script src="/js/register.js"></script>

             
    </body>
</html>
